body {
    background-image: url(images/bicicleta-Raleigh-Superbe-01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.barra > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
}

.barra > nav > ul > li {
    text-decoration:none;
    font-weight: 100;
    font-size: 20px;
    color:#333333;
    padding: top 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#c3c593;
    border-color: rgb(238, 201, 170);
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.barra > li {
    display: inline;
    text-align: center;
    margin: 0 10PX 0 0;
}

.barra > h5 {
    text-decoration: none;
}

.barra > nav > ul > div > li{
    color:#333333;
    display: flex;
    padding: 30px;
    background-color:hwb(61 58% 23%);
    border-color: rgb(238, 201, 170);
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.interactable {
    cursor: pointer;
    transition: all ease-out 250ms;
  }

.interactable:hover {
    padding: 10px;
    border-radius: 10;
}

.redes > nav > ul{
    display: flex;
    flex-direction: row;
    display: block;
    float: right;
    padding: 30px;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
}

.redes > nav > ul > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration:none;
    font-weight: 100;
    font-size: 20px;
    margin: 80px;
    color:#333333;
    padding: top 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#93afc5;
    border-color: rgb(238, 201, 170);
    border-width: 3px;
    border-style: solid;
    border-radius:35px;    
}

.redes > li{
    display: inline;
    text-align: center;
    margin: 0 10PX 0 0;
}

.redes > h5 {
    text-decoration: none;
}

.texto{
text-align: left;
margin-left: 160px;
position: absolute; top: 250px;
color: #917153;
}

.texto > h1{
    font-size: 60px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    -webkit-text-stroke: 0.5px rgb(241, 220, 220);
}

.texto > h4{
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.05em rgb(14, 13, 13);
    -webkit-text-stroke: 0.5px rgb(48, 45, 45);
}